<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<title>{{deck.title}}</title>
		<!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.pack.js"></script><![endif]-->
		<script language="javascript" type="text/javascript" src="/site_media/jquery-1.3.2.js"></script>
		<script language="javascript" type="text/javascript" src="/site_media/flot/jquery.flot.js"></script>
	</head>
	<body>
		<div><p><b>{{deck.title}}</b> includes the following cards:</p></div>
		<hr/>
		{% for card in deck.cards.all %}
		<div class="card">
     		<p>{{card.title}}</p>
		</div>
		{% endfor %}
		<hr/>
		<div id="manaCurveChart">
			<p>Mana Curve</p>
			{% for cost, count in deck.manaCurve.iteritems %}
  			<p>cost: {{cost}}</p>
  			<p>count: {{count}}</p>
			{% endfor %}
		</div>
		<hr/>
		<div id="placeholder" style="width:600px;height:300px"></div>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = [[0,0]];
	{% for cost, count in deck.manaCurveSortedList %}
	d1.push([{{cost}}, {{count}}]);
	{% endfor %}	
    console.log(d1);
    $.plot($("#placeholder"), 
    [ {label: "Mana Curve (Y: cards, X: mana cost)",
	   data: d1,
	   bars: {show: true},
	   yaxis: {min: 0},
	   color: "#0000FF"
       } 
    ]);
});
</script>

</body>
</html>